<%-include('../partials/header') %>
<div class="confirmation-container">
  <h1 class="confirmation-title">Thank you for you order!</h1>
  <h3>Order number is: #<%= orderId %> </h3>
</div>

<%-include('../partials/footer') %>